// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  @include media-breakpoint-down(xs) {
    font-size: $font-size-sm;
  }
}

a {
  &:focus {
    outline: none;
  }
}

// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    background-color: $gray-100;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, .5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  position: relative;
}

.status {
  position: absolute;
  height: 39px;
  width: 39px;
  bottom: 5px;
  right: 5px;
}

.certificates-block a{
  display: inline-block;
}

.certificates-block a:hover {
  opacity: 0.7;
  text-decoration: none;
}
.table {
 
  td, th {
      vertical-align: middle;
  }
}

.min-v-100 {
  min-height: calc(100vh - 186px);
}

.card-view {
  border-top: 1px solid $indigo;
}

.admin .card-view {
  border-top: 1px solid $gray-300;
}

.btn.mr-2 {
  @include media-breakpoint-down(xs) {
    margin-right: 0px!important;
  }
}

.form-control.round {
  border-radius: 10rem;
  font-size: $font-size-sm;
}


.corner-card {
  border-radius: $border-radius $border-radius 0 0 ;
}